@model Student
<h2>Öğrenci Ekle</h2>
<hr>
<form asp-controller="Student" asp-action="Create" method="post">
    <div class="mb-3">
        <label for="StudentName" class="form-label">Öğrenci Adı</label>
        <input asp-for="StudentName" class="form-control">
    </div>
    <div class="mb-3">
        <label for="StudentSurname" class="form-label">Öğrenci Soyadı</label>
        <input asp-for="StudentSurname" class="form-control">
    </div>
    <div class="mb-3">
        <label for="EMail" class="form-label">E-Mail</label>
        <input asp-for="EMail" class="form-control">
    </div>
    <div class="mb-3">
        <label for="Phone" class="form-label">Telefon</label>
        <input asp-for="Phone" class="form-control">
    </div>
    <button type="submit" class="btn btn-secondary">Kaydet</button>
</form>